.devices {
   width: 100%;
}

.deviceItems {
   margin-top: 20px;
}

.deviceUpgrade {
   padding: 20px;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   font-weight: 600;
   margin-bottom: 0;
   border: 1px solid transparent;
   &:hover {
      border: 1px solid var(--primary-color-mid);
      color: var(--primary-color-foreground);
   }
}

.devicesGrid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
}

@media only screen and (max-width: 1024px) {
   .deviceItems {
      &.devicesGrid {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

@media only screen and (max-width: 768px) {
   .deviceItems {
      &.devicesGrid {
         grid-template-columns: repeat(1, 1fr);
      }
   }
}
