ENCRYPTION_KEY=your-encryption-key-here-min-12-chars
USER_NAME=admin
USER_PASSWORD=your-secure-password

# Optional - override defaults
PLUTON_VERSION=0.20.0
SERVER_PORT=5173

# Reverse proxy (Caddy, Nginx, Traefik, ...) Support
#TRUST_PROXY=1
