.planStorages {
   position: relative;
   .storageAction {
      position: absolute;
      margin-top: -4px;
      z-index: 111;
      opacity: 0;
      transition: opacity 0.15s linear;
      button {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 5px 6px;
         border-radius: 50%;
         cursor: pointer;
         color: var(--primary-color);
         background: var(--content-background-color);
         border: 1px solid var(--line-color);
      }
   }
   &:hover .storageAction {
      opacity: 1;
   }
   .storageWithReplications {
      display: flex;
      flex-direction: column;
      .storageIcons {
         display: inline-block;
         img {
            width: auto;
            max-height: 14px;
            display: inline-block !important;
            position: relative;
            margin-left: -10px;
            padding: 3px;
            border-radius: 50%;
            background: var(--content-background-color);
            border: 1px solid var(--line-color);
         }
         img:nth-child(1) {
            z-index: 99;
            margin-left: 0;
         }
      }
   }
   &.inline {
      display: inline-block;
      margin-left: 5px;
      .storageWithReplications {
         flex-direction: row;
         align-items: center;
         .storageIcons {
            img {
               margin-left: 0px;
               padding: 0;
               background: transparent;
               border: none;
            }
         }
      }
      .storageName {
         display: inline-block;
      }
   }
   &.withReplications {
      &:hover {
         .storageWithReplications {
            filter: blur(2px);
         }
      }

      .storageAction {
         margin-top: 0px;
         left: 27px;
      }
   }
}
